asyncore-wsgi==0.0.9
bottle==0.12.16
cached-property==1.4.2
certifi==2018.4.16
chardet==3.0.4
Django==2.2.28
djangorestframework==3.9.2
docker==3.3.0
docker-pycreds==0.2.3
docopt==0.6.2
entrypoints==0.3
flake8==3.7.7
idna==2.6
isort==4.3.4
jsonschema==2.6.0
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.0
pytz==2018.9
PyYAML==3.13
requests==2.18.4
six==1.11.0
termcolor==1.1.0
urllib3==1.22
virtualenv==16.2.0
web-pdb==1.4.4
websocket-client==0.47.0
